In [5]:
a = 10
print(a,type(a))

10 <class 'int'>

In [6]:
a=10.2
print(a,type(a))

10.2 <class 'float'>

In [7]:
a='Hello'
print(a,type(a))

Hello <class 'str'>

In [8]:
a=None
print(a,type(a))

None <class 'NoneType'>

In [1]:
print()
a = 5
b = 10
print(a , b)
print(a, b, a + b)
print(a, b, a+b, sep='-')

5 10
5 10 15
5-10-15

In [9]:
print(a)
print(b)
print(c)

None
10

NameError: name 'c' is not defined

In [10]:
print=10

In [11]:
print(a)

TypeError: 'int' object is not callable

In [12]:
del print

In [13]:
print(a)

None

In [2]:
name ='ajay'
age = 21
city = 'Gorakhpur '
print (f'my name is {name}, i am {age} years old, i live in {city}')

my name is ajay, i am 21 years old, i live in Gorakhpur

In [3]:
x = 10
y = 3
z = x / y
print(f'{x}/{y} = {z:.2f}')
print(x,'/',y, "=", round (z,2))

10/3 = 3.33
10 / 3 = 3.33

In [4]:
n1='Ajay'
n2='Rahul'
n3='Shyam'
a1, a2, a3 = 22, 21, 24
print(f'{n1:20} {a1}')
print(f'{n2:30} {a2}')
print(f'{n3:22} {a3}')

Ajay                 22
Rahul                          21
Shyam                  24