# DICTIONARY
dictionaries is used to keep nested data

In [1]:
book  = {
    'title':    'Think and Grow Rich',
    'Author' :  'Napolean Hill',
    'price' :   399,
    'publisher': 'jyco Publisher',
    'Year' :      1999,
    'pages' : '500',
    'langusges' : ['Hindi','english','urdu','Spanish']
}

In [3]:
#to add something we use this

book ['rating'] = 4.9
book ['type'] = 'paperback'
print(book)

{'title': 'Think and Grow Rich', 'Author': 'Napolean Hill', 'price': 399, 'publisher': 'jyco Publisher', 'Year': 1999, 'pages': '500', 'langusges': ['Hindi', 'english', 'urdu', 'Spanish'], 'rating': 4.9, 'type': 'paperback'}

In [4]:
book ['pages']

'500'

In [5]:
book['publisher']

'jyco Publisher'

In [7]:
book['website'] #it will show key error because website does not exist for this book

KeyError: 'website'

In [8]:
#to delete something we use .pop

book.pop('pages')

'500'

In [9]:
book

{'title': 'Think and Grow Rich',
 'Author': 'Napolean Hill',
 'price': 399,
 'publisher': 'jyco Publisher',
 'Year': 1999,
 'langusges': ['Hindi', 'english', 'urdu', 'Spanish'],
 'rating': 4.9,
 'type': 'paperback'}

In [11]:
book['sell'] = '5 million copies'
print(book)

{'title': 'Think and Grow Rich', 'Author': 'Napolean Hill', 'price': 399, 'publisher': 'jyco Publisher', 'Year': 1999, 'langusges': ['Hindi', 'english', 'urdu', 'Spanish'], 'rating': 4.9, 'type': 'paperback', 'sell': '5 million copies'}

In [12]:
book

{'title': 'Think and Grow Rich',
 'Author': 'Napolean Hill',
 'price': 399,
 'publisher': 'jyco Publisher',
 'Year': 1999,
 'langusges': ['Hindi', 'english', 'urdu', 'Spanish'],
 'rating': 4.9,
 'type': 'paperback',
 'sell': '5 million copies'}

In [13]:
list(book.keys())

['title',
 'Author',
 'price',
 'publisher',
 'Year',
 'langusges',
 'rating',
 'type',
 'sell']

In [14]:
list(book.values())

['Think and Grow Rich',
 'Napolean Hill',
 399,
 'jyco Publisher',
 1999,
 ['Hindi', 'english', 'urdu', 'Spanish'],
 4.9,
 'paperback',
 '5 million copies']

In [16]:
list(book.items())

[('title', 'Think and Grow Rich'),
 ('Author', 'Napolean Hill'),
 ('price', 399),
 ('publisher', 'jyco Publisher'),
 ('Year', 1999),
 ('langusges', ['Hindi', 'english', 'urdu', 'Spanish']),
 ('rating', 4.9),
 ('type', 'paperback'),
 ('sell', '5 million copies')]

In [15]:
book.get('publisher')

'jyco Publisher'

In [17]:
book.get('publisher','not found')

'jyco Publisher'

In [19]:
book.get('pUblisher', 'not found')

'not found'

In [26]:
myrating = {}
for i in range(1,4):
    name = input(f'enter the name of the movie {i}: ')
    rating = float(input (f'enter the rating of the movie {i}: '))
    myrating [name] = rating
print(myrating)

{'godzilla': 7.8, 'pathaan': 9.0, 'inspector avinash': 6.6}

In [27]:
book = {
    'book1':{
    'title':    'Think and Grow Rich',
    'Author' :  'Napolean Hill',
    'price' :   399,
    'publisher': 'jyco Publisher',
    'Year' :      1999,
    'pages' : '500',
    },
    
    'book2':{
    'title':    'Rich dad poor dad',
    'Author' :  'robert kioyosiki',
    'price' :   199,
    'publisher': 'jyco Publisher',
    'Year' :      1995,
    'pages' : '350',
    },

    

    'book3':{
    'title':    '  lifes amazing secret',
    'Author' :  'gaur gopal das',
    'price' :   199,
    'publisher': 'krishna publication',
    'Year' :      2015,
    'pages' : '150',
     }
}

In [33]:
for name, detail in book.items(  ):
    print(name)
    for k,v in detail.items(  ):
        print(f"\t {k} = {v}")

book1
	 title = Think and Grow Rich
	 Author = Napolean Hill
	 price = 399
	 publisher = jyco Publisher
	 Year = 1999
	 pages = 500
book2
	 title = Rich dad poor dad
	 Author = robert kioyosiki
	 price = 199
	 publisher = jyco Publisher
	 Year = 1995
	 pages = 350
book3
	 title =   lifes amazing secret
	 Author = gaur gopal das
	 price = 199
	 publisher = krishna publication
	 Year = 2015
	 pages = 150

In [34]:
query = 'lifes amazing secret'
for name,detail in book.items():
    if query in detail['title']:
        print(name, detail)

book3 {'title': '  lifes amazing secret', 'Author': 'gaur gopal das', 'price': 199, 'publisher': 'krishna publication', 'Year': 2015, 'pages': '150'}

In [37]:
book

{'book1': {'title': 'Think and Grow Rich',
  'Author': 'Napolean Hill',
  'price': 399,
  'publisher': 'jyco Publisher',
  'Year': 1999,
  'pages': '500'},
 'book2': {'title': 'Rich dad poor dad',
  'Author': 'robert kioyosiki',
  'price': 199,
  'publisher': 'jyco Publisher',
  'Year': 1995,
  'pages': '350'},
 'book3': {'title': '  lifes amazing secret',
  'Author': 'gaur gopal das',
  'price': 199,
  'publisher': 'krishna publication',
  'Year': 2015,
  'pages': '150'}}

In [41]:
#wap to create dictionary that store numbers and their squares
Number= {}
number = [1,2,3,4,5,6,7,8,9,10]
for i in number:
    square = i*i
    Number[i] =  square
print(Number, "  ")

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Ques:-  WAP to ask user to enter the item  and its price and then store it in a dictionary , the program should stop when the user wants hint - while loop

In [44]:
items = {}
while True:
    item = input('enter name:')
    if not item :
        break
    price = int(input('enter price:'))
    items[item] = price
print(items)

{'shirt': 1000, 'coat': 5000}