syntax 
'''
def fun_name([parameter])
    statement 1
    statement 2
    '''
    statement n
    [return expression]

example

def area(width, height):
    a = width * height
    return a

- based on parameter and return value 
    1. no parameter, no return value
    2. no parameter,  return value
    3.  parameter,  no return value
    4.  parameter,  return value


- based on parameter type
    1. required parameter
    2. keyword  parameter
    3. default  parameter
    4. variable length parameter (*args)
    5. varible keyword arguments (**kwargs)

- other types of function
    1. lambda function
    2. generator function
    3. recursive function

In [1]:
#value returning function 
def area ():
    l = int(input("enter l = "))
    b  = int(input("enter l = "))
    return l*b

In [2]:
ans  = area()
print(f'area is {ans}')

area is 24

In [1]:
def math():
    P = int(input("enter the Principle: "))
    r = int(input("enter the rate : "))
    t = int(input("enter the time : "))
    si = P*r*t /100
    amt  = P + si
    return si,amt

In [2]:
result = math()
print('si', result[0])
print('amt',result[1])

si 18.0
amt 28.0

In [3]:
si, amount = math()
print(si,amount)

100.0 200.0

In [11]:
def is_armstrong(number ):
    t = number
    s = 0 #sum
    pow = len (str(number))
    while number > 0 :
        r = number % 10
        s += r ** pow
        number //= 10
    return t == s

In [6]:
x = int(input('enter  a number '))
print(is_armstrong(x))

False

In [12]:
for i in range (100,999999):
    if is_armstrong(i):
        print(i)

153
370
371
407
1634
8208
9474
54748
92727
93084
548834

In [13]:
def adder (a,b,c):
    return a + b + c

In [14]:
print(adder(12,5)) # value of c is missing so, required parameter is not fulfil & it will retuen error

TypeError: adder() missing 1 required positional argument: 'c'

In [15]:
print(adder(12,5,6)) # if we miss any required parameter it will retuen error

23

In [17]:
print(adder(a=4,b=3,c=5 ))# key arguments
print(adder(b=10,c=20,a=10 ))# allows for any order
print(adder(10,c= 20,b= 20))
print(adder(10,20,c=30 ))

12
40
50
60

In [19]:
def multiplier (a,b,c=1):
    return a*b*c

In [20]:
print(multiplier(2,3))
print(multiplier(2,3,10 ))
print(multiplier(2,3, c = 4))
print(multiplier(a=2,b=3, c = 4))
print(multiplier(2,b=3, ))

6
60
24
24
6

In [27]:
 
from string import punctuation
def cleaner(data, chars=None):
    if chars is None:
        chars = punctuation
        for c in chars:
            data = data.replace(c, '')
        return data

In [28]:
print(punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
cleaner ('h@!#*(!@*#)',)

In [29]:
def multiplier(*nums):
    result = 1
    for num in nums:
        return result

In [31]:
print(multiplier())
print(multiplier(2))
print(multiplier(2,3,4,5,6,7,8))
print(multiplier(2,3,5,7,5,2,8,5,1,5,5,1,4,5))
print(multiplier())
print(multiplier())
print(multiplier())

None
1
1
1
None
None
None

In [32]:
def aggregrator (*x, action = 'sum'):
    if action == 'sum':
        return sum (x)
    elif action == 'count':
        return len(x)
    elif action == 'mean':
        return sum (x) / len (x)
    else :
        raise ValueError ('Invalid action ')

In [33]:
aggregrator (1,2,3,3,1,1,2,2,3, action= 'mean')

2.0

In [1]:
def sorter (*data , type='number'):  #data is with single * so it is tuple 
    if type =='number':
        clean_data = []
        for i in data:
            if isinstance(i,int) or isinstance(i,float):
                clean_data.append(i)
        clean_data.sort()
        return clean_data
    else:
        return None

In [2]:
sorter (11,6,7,12)

[6, 7, 11, 12]

In [3]:
sorter(12,45,'a','b',2,5,6,7)

[2, 5, 6, 7, 12, 45]

In [4]:
def  display_data(**data): #data is with double ** so it is dictionary
    print("Your data :")
    total = 0
    for k, v in data.items():
        print(f"{k:10}{v}")
        total += v
    print('_'*20)
    print(f"Total: Rs.{total}")
    print('-'*20)

In [5]:
display_data(dahi= 50, medicine = 1200, tshirt =250, fruits=200)

Your data :
dahi      50
medicine  1200
tshirt    250
fruits    200
____________________
Total: Rs.1700
--------------------

- Lambda expression

In [9]:
#here lambda represents anonymous function
f = lambda x: x**2 + x*10 +x
print(f(10))
print(f(4))
print(f(2))

210
60
26

In [10]:
g = lambda x,y : x**3 + y**4 + x*y - 1
print(g(1,2))
print(g(4,5))
print(g(4,3))

18
708
156

In [11]:
hyp = lambda p,b : (p**2 + b**2)**.5

In [13]:
hyp(13,14)

19.1049731745428

 Mapping : list of data -> operation -> new list of data 
 
 Filter : ;ist of data -> conditions -> new list of data

In [15]:
x = [2,3,21,31,3,12,31,23]
x3 = list(map(lambda i: i**3,x))
print(x3)

[8, 27, 9261, 29791, 27, 1728, 29791, 12167]

In [16]:
x = [2,3,21,31,3,12,31,23]
x3 = tuple(map(lambda i: i**3,x))
print(x3)

(8, 27, 9261, 29791, 27, 1728, 29791, 12167)

In [17]:
x = [2,3,21,31,3,12,31,23]
x3 = set(map(lambda i: i**3,x))
print(x3)

{1728, 12167, 8, 9261, 27, 29791}

In [20]:
x = [1,2,3,4,5,6]
y = [2,3,4,5,6,5]
xy = list(map(lambda i,j: i*j, x,y))
print(xy)

[2, 6, 12, 20, 30, 30]

In [21]:
a = [1,2,3,4,5,6,8,2,4,4,3,5,6,4]
b = list(filter(lambda i: i%2==1, a))
print (b)

[1, 3, 5, 3, 5]

In [22]:
from random import randint

In [23]:
def random_range(s,e,size =10):
    for i in range (size):
        yield randint (s,e)

In [24]:
random_range(1,10,3)

In [31]:
for i in random_range (1,100,15):
    print(i,end ='  ')

26  24  58  7  82  26  97  29  10  19  39  2  97  76  47