In [1]:
for i in range (10):
    print (i, end='')

0123456789

In [5]:
for i in range (10, 0, -1):
    print (i, end= ' ')

10 9 8 7 6 5 4 3 2 1

In [6]:
data = [12, 45, 56, 53, 59, 10, 34, 563]
# traversal of list 
for item in data:
    print(item, end =' ')

12 45 56 53 59 10 34 563

In [7]:
prices = [12, 45, None,56,53,None, 59,10,None, 34,563]
for pr in prices:
    if pr is None:
        continue
    print(pr)

12
45
56
53
59
10
34
563

In [9]:
prices = [12, 45, None,56,53,None, 59,10,None, 34,563]
for i in prices:
    if (i== None):
        continue
    print(i,end=' ')

12 45 56 53 59 10 34 563

In [11]:
prices = [12, 45, None,56,53,None, 59,10,None, 34,563]
for item in prices:
    if item is None:
        break
    print(item)
print('the end ')

12
45
the end

In [12]:
for i in range(1,6):
    print(i)
    for j in range(1,4):
        print(j, end=' ')
    print()

1
1 2 3
2
1 2 3
3
1 2 3
4
1 2 3
5
1 2 3

In [13]:
for i in range(1,6):
    print(i)
    for j in range(1,4):
        print(i*j, end=' ')
    print()

1
1 2 3
2
2 4 6
3
3 6 9
4
4 8 12
5
5 10 15

In [17]:
for i in range(6):
    for j in range(i):
        print("*", end='   ')
    print(" ")

*
*   *
*   *   *
*   *   *   *
*   *   *   *   *

In [4]:
#enumerate
name = ['Radha','kishoriji','Krishna','Gopal','Bihari','Makhanchor','Kanha','Nandlal']
for name in enumerate(name):
    print(name)

(0, 'Radha')
(1, 'kishoriji')
(2, 'Krishna')
(3, 'Gopal')
(4, 'Bihari')
(5, 'Makhanchor')
(6, 'Kanha')
(7, 'Nandlal')

In [6]:
x = [1,2,3,3,5,1,2,2,2,1,2,3,1,1,1,2,3,3,4,5,1,1,2,2,3,3,3,1,1,]
for i,v in enumerate(x):
    if i == 10:
        break
    print(v)

1
2
3
3
5
1
2
2
2
1

In [7]:
#zip
x = [1,2,3,4,]
y = [7,8,3,2,]
z = [2,3,6,6,]
for i in zip(x,y,z):
    print(i)

(1, 7, 2)
(2, 8, 3)
(3, 3, 6)
(4, 2, 6)

In [8]:
#correct way to write
for i, j, k in zip(x,y,z):
    print(i,j,k)

1 7 2
2 8 3
3 3 6
4 2 6

In [9]:
#here we can add all the values
for i, j, k in zip(x,y,z):
    print(i+j+k)

10
13
12
12

In [10]:
#extra value of z will not be considered
x = [1,2,3,4,]
y = [7,8,3,2,]
z = [2,3,6,6,7,8]
for i in zip(x,y,z):
    print(i)

(1, 7, 2)
(2, 8, 3)
(3, 3, 6)
(4, 2, 6)

#for - else

if  all the iterations of the loop are completed without any break ststement, then the else part is executed else part is not executed if the loop is terminated by a break statement

In [11]:
#for else
for i in x:
    if i == 13:
        break
    print(i)
else:
    print("completed without break")

1
2
3
4
completed without break

In [12]:
#checking prime number
num = 123
for i in range(2,num):
    print(f'{num} %{i} = {num}')
    if num%i == 0:
        print("not prime")
        break
else:
    print("prime")

123 %2 = 123
123 %3 = 123
not prime