In [1]:
x = (12,45,65) # tuple creation
print(x)
print(type(x))

(12, 45, 65)
<class 'tuple'>

In [2]:
a = 1,2,3,4 #tuple packing
print(a)

(1, 2, 3, 4)

In [4]:
w, x, y, z = a
print(w, x, y, z )
first, *rest = a # first value will be stored in first variable
#rest will be stored in rest variable as a list
print(first, rest)

1 2 3 4
1 [2, 3, 4]

In [7]:
fname, *lname = "Aakash Deep Srivastava".split()
print(fname,lname, sep= '\n')

Aakash
['Deep', 'Srivastava']

In [9]:
x = ('banana','mango','cherry')
print(x.count('cherry'))

1

In [10]:
print(x.index('cherry'))

2

In [12]:
x=[1,2,3,4,5]
xt = tuple(x)
print(x,xt)
xl = list(xt)
xs = set(x)
xts = set(xt)
print(xl,xs,xts)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5)
[1, 2, 3, 4, 5] {1, 2, 3, 4, 5} {1, 2, 3, 4, 5}

In [13]:
print(xt[-1])
print(xt[0])

5
1

Set

In [14]:
a  = {3,5,4,4,1,2,2,5,6,6,2,}
print(a)

{1, 2, 3, 4, 5, 6}

In [15]:
b = set() #empty set
b.add('hello')
b.add('fellow')
b.add('jello')
b.add('mello')
b.update({'yellow','cello'}) #add a iterable to a set
print(b)

{'fellow', 'mello', 'cello', 'jello', 'yellow', 'hello'}

In [16]:
b.discard('jello')
b.discard('hello')
print(b)

{'fellow', 'mello', 'cello', 'yellow'}

In [18]:
b.remove('mello')
b.remove('yellow')
print(b)

{'fellow', 'cello'}

set operations

In [19]:
a = {1,2,3,4}
b= {3,4,5,6}
c = {1,2,3,4,5,6,7,8,9,10}
d = {6,7,8,9,10}

In [20]:
a.union(b) #or a/b

{1, 2, 3, 4, 5, 6}

In [21]:
a.intersection(b) #a&b

{3, 4}

In [26]:
c.intersection(d) #c&d

{6, 7, 8, 9, 10}

In [23]:
print(a.difference(b)) #a - b
print(b.difference(a)) #b - a

{1, 2}
{5, 6}

In [24]:
a.symmetric_difference(b) #a^b

{1, 2, 5, 6}

In [25]:
c.symmetric_difference(d) #c^d

{1, 2, 3, 4, 5}

In [27]:
c.issuperset(d)

True

In [28]:
a.issuperset(b)

False

In [29]:
a.issuperset(d)

False

In [30]:
a.issubset(b)

False

In [31]:
a.isdisjoint(b)

False

In [32]:
c.issubset(d)

False